<div class="container">
    <h2> Dashboard </h2>

<br />
    <div class="card card-body">
        <h4> Projects </h4>
        <%= link_to "View Projects", projects_path%>
        <%= link_to "New Project", new_project_path %>
    </div>
</div>
