<div class="container">
    <h2> Dashboard </h2>

<br />
        <%= link_to "View Projects", projects_path, :class =>"btn btn-primary"%>
        <%= link_to "Start New Project", new_project_path, :class=>"btn btn-success"%>
        <%= link_to "View Calendar", calendar_path, :class=>"btn btn-info"%>

</div>
