<div class="container">
    <h1> Create Project </h1>
</div>

<div class="container">
    <%# form for the Project of the current User%>
    check out this gem: https://github.com/plataformatec/simple_form
</div>