<% unless @project.nil?%>
    <div class="container w-50">
        <h4 class="text-center"> <%= @project.title %> </h4>
        <p class="text-secondary"> *dev note: must hit enter to save edits. Need to add feature of dynamic "save" button </p>
        <br />
        <h3> Tasks </h3>
        <%= render partial: 'task_form', :locals => {:project => @project, :task => @task} %>
        <%= render partial: 'show_tasks', :locals =>{:project => @project, :items => @items} %>
        <br />
        <div class="container text-center mt-3">
            <%= link_to "Edit Project", edit_project_path(@project), :class => "btn btn-primary" %>
        </div>
    </div>

<% end %>