<% unless @project.nil?%>
    <div class="container">
        <h4 class="text-center"> <%= @project.title %> </h4>
        <div class="container text-center mt-3">
            <%= link_to "Edit", edit_project_path(@project), :class => "btn btn-primary" %>
            <%= link_to "Delete", project_path(@project), method: :delete, :class => "btn btn-primary"%>
        </div>
    </div>
<% end %>